* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
}

header {
    background-color: #6a87c9;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.navbar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.navbar button {
    padding: 8px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo para los botones adicionales */
.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button {
    background-color: #fff;
    color: #6a87c9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Resto del CSS */
